<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create Product</h3>
        </div>
        <div class="panel-body">

            <form name="form" novalidate class="form-horizontal user-register-form">
                <fieldset>
                    <div class="form-group" ng-class="{ 'has-error' : validateField(form.category) }">
                        <label class="col-md-2 control-label" for="category">Category</label>
                        <div class="col-md-8">
                            <select id="category" name="category" class="form-control"  
                                    ng-model="product.category_id" 
                                    ng-options="c.id as c.name for c in categories" 
                                    required>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-2">
                            Language
                        </div>
                        <div class="col-md-3">
                            Name
                        </div>
                        <div class="col-md-6">
                            Description
                        </div>
                        <div class="col-md-1">
                            Remove
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="t in product.texts">
                        <ng-form name="innerForm">
                            <!--<label class="col-md-2 control-label" for="language" ng-class="{'magic-hidden': $index}">Names</label>-->
                            <div class="col-md-2"  ng-class="{ 'has-error' : validateField(innerForm.language) }">
                                <select name="language" class="form-control"  
                                        ng-model="t.language_id" 
                                        ng-options="l.id as l.name for l in languages" 
                                        required>
                                </select>
                            </div>
                            <div class="col-md-3"  ng-class="{ 'has-error' : validateField(innerForm.name) }">
                                <input ng-model="t.name" name="name" type="text" placeholder="Name" class="form-control input" required="">         
                                <span ng-show="validateField(innerForm.name)">Required</span>
                            </div>
                            <div class="col-md-6"  ng-class="{ 'has-error' : validateField(innerForm.description) }">
                                <textarea ng-model="t.description" name="description" type="text" placeholder="Description" class="form-control input" required="" rows="3"></textarea>         
                                <span ng-show="validateField(innerForm.description)">Required</span>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-link" aria-label="Left Align" ng-click="removeProductText($index)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"  style="color: #d9534f"></span>
                                </button>
                            </div>
                        </ng-form>
                    </div>

                    <div class="col-md-3 control-label"><a class="btn btn-link" ng-click="addProductText()" >Add Name</a></div>

                </fieldset>
            </form>

            <p>                
                <a class="btn btn-success pull-right" ng-click="save()" ng-disabled="form.$invalid">Save</a>
                <a class="btn btn-danger pull-left" href="#/">Back</a>
            </p>
        </div>
    </div>
</div>