<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Products</h3>
            <div class="text-right">
                <label>Filter by category:
                    <select id="category" name="category" class="form-control"
                            ng-model="categories.selected" 
                            ng-options="c.id as c.name for c in categories" 
                            ng-change="getProducts()">
                        <option value="">All</option>
                    </select>
                </label> 
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name(s)</th>
                        <th>Product Description(s)</th>
                        <th>Category</th>                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="products.data.length < 1">
                        <td colspan="4"> Empty Response </td>
                    </tr>
                    <tr ng-repeat="product in products.data">
                        <td>
                            <span ng-repeat="productText in product.texts">
                                <span class="label label-warning" ng-show="productText.name">{{productText.languageName}}</span> {{productText.name}}<br>
                            </span>
                        </td>
                        <td>
                            <span ng-repeat="productText in product.texts">
                                <span class="label label-warning" ng-show="productText.description">{{productText.languageName}}</span> {{productText.description}} <br>
                            </span>
                        </td>
                        <td>{{product.categoryName}}</td>
                        <td>
                            <a class="btn btn-link" aria-label="Left Align" href="#/edit/{{product.id}}" title="Edit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" style="color: #31708f"></span>
                            </a>
                            <button type="button" class="btn btn-link" aria-label="Left Align" ng-click="removeProduct(product)" title="Remove">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #d9534f"></span>
                            </button>                            
                        </td>
                    </tr>
                </tbody>
            </table>

            <p><a class="btn btn-success pull-right" href="#/create" >Add Product</a></p>
        </div>
    </div>
</div>

<!--<pre>
    {{products | json}}
</pre>-->