<?php
echo $this->inlineScript()->appendFile('js/message-center.js');
echo $this->inlineScript()->appendFile('js/takumApp/takum.module.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/list.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/create.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/controllers/edit.controller.js');
echo $this->inlineScript()->appendFile('js/takumApp/services/language.service.js');
echo $this->inlineScript()->appendFile('js/takumApp/services/category.service.js');
echo $this->inlineScript()->appendFile('js/takumApp/services/product.service.js');
?>
<div ng-app="takum">
    <mc-messages></mc-messages>
    <div class="row"  ng-view="">

    </div>
</div>
